

.text {
  top: 2px;
  
}

.character {
  width: 200px;
  background-color: coral;
  border: solid 5px black;
  padding: 5px 20px 20px 20px;
}

.imgDiv {
  width: 150px;
}

.background {
  background-image: url("../images/dbzb.jpg");
}

h3 {
  color: purple;
  background-color: yellowgreen;
}
