

.text {
  top: 2px;
  
}

.character{
  background-color: coral;
  border: solid 5px black;
  padding: 5px 10px 20px 20px;
}

.imgDiv {
  width: 150px;
}

.background{
  background-image: url("../images/dbzb.jpg");
}
/* #yourCharacter {
  background-color: coral;
  border: solid 5px black;
  padding: 5px 10px 20px 20px;
}

#yourEnemy {
  background-color: coral;
  border: solid 5px black;
  padding: 5px 10px 20px 20px;
} */